<h5><i class="fas fa-university"> </i> Institution Information</h5>
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Make changes to your institution's primary information</nb-card-header>
      <nb-card-body>
          <div class="row styled-grid">
            <div class="form-group col-md-6 col-12">
              <label for="code" class="label">Code</label>
              <input type="text" nbInput fullWidth placeholder="Code" [disabled]="true" [(ngModel)]="institutionDetails.code">
            </div>
            <div class="form-group col-md-6 col-12">
              <label for="alternative-code" class="label" >Alternative Code</label>
              <input type="text" nbInput fullWidth placeholder="Alternative Code" [(ngModel)]="institutionDetails.alternativeCode">
            </div>
            <div class="form-group col-md-6 col-12">
              <label for="institution-name" class="label" >Institution Name</label>
              <input type="text" nbInput fullWidth placeholder="Institution Name" [(ngModel)]="institutionDetails.name">
            </div>
            <div class="form-group col-md-6 col-12">
              <label for="phone-number" class="label">Phone Number</label>
              <input type="string" nbInput fullWidth placeholder="Phone Number" [(ngModel)]="institutionDetails.phoneNumber">
            </div>
            <div class="form-group col-md-6 col-12">
              <label for="email" class="label">Email</label>
              <input type="email" nbInput fullWidth placeholder="Email" [(ngModel)]="institutionDetails.email">
            </div>
            <div class="form-group col-md-6 col-12">
              <label for="physical-address" class="label">Physical Address</label>
              <input type="text" nbInput fullWidth placeholder="Physical Address" [(ngModel)]="institutionDetails.physicalAddress">
            </div>
            <div class="form-group col-md-6 col-12">
              <label for="post-box-address" class="label">Post Box Address</label>
              <input type="text" nbInput fullWidth placeholder="Post Box Address" [(ngModel)]="institutionDetails.postBoxAddress">
            </div>
            <div class="form-group col-md-6 col-12">
              <label for="school-logo" class="label">School Logo</label>
              <input type="file" nbInput fullWidth  status="basic" accept="image/*" (change)="onImageSelected($event)">
            </div>
          </div>
          <div *ngIf="imageSource" id="image-container" class="image-wrapper form-group">
            <img [src]='imageSource' />
          </div>
          <div>
             <button class="float-right" nbButton status="primary" [disabled]="false" (click)="addOrUpdateInstitutionDetails()"><nb-icon icon="save"></nb-icon>Save Details</button>
          </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>